@media print {
  @page {
    margin: 0.3cm;
  }

  * {
    -webkit-print-color-adjust: exact ;
    print-color-adjust: exact;
  }

  nav, footer {
    display: none ;
  }

  body {
    background-color: var(--color-fondo);
    font-size: 6.7pt; 
    margin: 0;
  }

  header {
    padding: 0.5rem;
    gap: 1rem;
  }

  header > img {
    width: 60px;
    margin: 0;
  }

  header h1 {
    font-size: 14pt;
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 180px 1fr; /* Sidebar estrecha */
    gap: 0.4rem;
    padding: 0.2rem;
  }

  .sidebar section, .content section {
    padding: 0.4rem;
    margin-bottom: 0.4rem;
    border-radius: 4px;
  }

  h2, h3 {
    font-size: 10pt;
    margin: 0.2rem 0;
  }

  p, li {
    line-height: 1.1; /* Líneas muy juntas */
    margin-bottom: 0.2rem;
  }

  .card {
    padding: 0.3rem;
    margin-top: 0.2rem;
  }

  a::after {
    content: " (" attr(href) ")";
    font-size: 7pt;
    color: #444;
  }
}
